body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background: #f0f0f0;
}

.controls {
  margin-bottom: 20px;
  text-align: center;
}

input, button {
  font-size: 16px;
  padding: 5px 10px;
  margin: 5px;
}

/* Таблиця */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #bbb;
  padding: 8px;
  text-align: center;
}

/* Заголовок таблиці */
thead {
  background-color: #444;
  color: white;
}

/* Непарні */
tbody tr:nth-child(odd) {
  background: #e7f0ff;
}

/* Парні */
tbody tr:nth-child(even) {
  background: #ffffff;
}
/* Перший рядок */
tbody tr:first-child {
  background: #c1ffe5;
  font-weight: bold;
}